<!DOCTYPE html>
<html>
  <head>
    <title>Oauth: Login Dialog</title>
  </head>
  <body>
    <h1>Oauth: Login Dialog</h1>
    <form action="/oauth/login" method="post">
      <div>
      <input type="text" name="username" id="allow">
      <input type="password" name="password" id="allow">
      <input type="submit" name="login" value="Login" >
      </div>
    </form>
  </body>
</html>